@inherits UmbracoViewPage
@inject IDesignsService _designsService;
@inject ISettingsService _settingsService;
@{
    var siteSettings = _settingsService.Get();

    var searchPage = Model.Root().Children<Search>()?.FirstOrDefault();

    var headerClass = "";
    var scrollClass = "";

    headerClass += scrollClass;

    var pageDesign = _designsService.GetDesignFromPage(Model.Key, null);
    var containerClass = BlockHelper.GetContainerWidth(pageDesign?.HeaderContainerWidth);

    var hasCallToActions = siteSettings?.HeaderCallToActions != null && siteSettings?.HeaderCallToActions?.Count > 0;

    var palette = pageDesign?.HeaderPalette?.Key.ToString() ?? "";
    if (string.IsNullOrWhiteSpace(palette) == false)
    {
        headerClass += $" palette-{palette} {(ColorHelper.IsDark(pageDesign?.HeaderPalette?.BackgroundColor?.Color) ? "dark" : "")}";
    }

    var layoutClass = pageDesign?.HeaderLayout ?? "layout-01";
    var transparentHeader = pageDesign?.TransparentHeader ?? false;

    if (transparentHeader)
    {
        headerClass += " header-transparent";
    }

    var showHeaderOnScroll = pageDesign?.ShowHeaderOnScroll ?? false;
    if (showHeaderOnScroll)
    {
        headerClass += " header-scroll";
    }
}

<header id="site-header" class="header @(headerClass) @(layoutClass)">

    <div class="@containerClass">
        <div class="row">
            <partial name="_WebsiteLogo" model="@Model"/>

            <div class="mobile-actions">
                @if (searchPage != null)
                {
                    <button class="toggle-search lg:hidden" type="button" aria-label="Toggle Search">
                        <i class="ph ph-magnifying-glass" aria-hidden="true"></i>
                    </button>
                }

                <igloo-nav-expand-button class="hamburger lg:hidden" open-icon="pageDesign?.MobileNavIcon" close-icon="pageDesign?.MobileNavCloseIcon" aria-label="Show navigation"/>
            </div>

            <partial name="_MainNavigation" model="@Model"/>

            <partial name="_SecondaryNavigation" model="@Model"/>

            @if (hasCallToActions)
            {
                <igloo-button-list model="@siteSettings!.HeaderCallToActions" class="cta-nav"></igloo-button-list>
            }
        </div>
    </div>
</header>
